.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 3fr 20fr;
    grid-template-rows: 13fr 2fr 1fr 5fr;
    overflow-y: scroll;
    overflow-x: hidden;
}

.about_container {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.heading {
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    color: var(--clr-secondary);
    margin-left: -4px;
}

.heading_in_japanese {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: max-content;
    display: block;
    color: var(--clr-secondary-disable);
    bottom: 24px;
    right: -21px;
}

.sub_heading {
    text-transform: uppercase;
    color: var(--clr-secondary-disable);
    animation: sub-heading 1s ease;
}

.body_text {
    width: fit-content;
    animation: content 2s ease-in;
}

.circle {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: right;
    margin-right: clamp(180px, 20vw, 250px);
    margin-top: 100px;
    width: clamp(120px, 20vw, 220px);
    height: clamp(120px, 20vw, 220px);
    background-color: var(--clr-secondary-disable);
    border-radius: 100vw;
    z-index: -99999;
    /* filter: blur(150px); */
}

@keyframes sub-heading {
    0% {
        margin-left: -24px;
        opacity: 0;
    }
    100% {
        margin-left: -2px;
        opacity: 1;
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
