.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 3fr 20fr;
    grid-template-rows: 13fr 2fr 1fr 5fr;
    overflow-y: scroll;
    overflow-x: hidden;
}

.about_container {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.heading {
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    color: var(--clr-secondary);
    margin-left: -2px;
}

.heading_in_japanese {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: max-content;
    display: block;
    color: var(--clr-secondary-disable);
    bottom: 24px;
    right: -21px;
    /*  animation: heading-in-japanese 1.2s ease; */
}

.sub_heading {
    text-transform: uppercase;
    color: var(--clr-secondary-disable);
    animation: sub-heading 1s ease;
}

.body {
    width: fit-content;
    animation: content 2s ease-in;
}

.body_date {
    font-size: 11px;
}

/* 
@keyframes heading-in-japanese {
    0% {
        margin-bottom: 48px;
        opacity: 0;
    }
    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}
 */
@keyframes sub-heading {
    0% {
        margin-left: -24px;
        opacity: 0;
    }
    100% {
        margin-left: -2px;
        opacity: 1;
    }
}

@keyframes content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
