.layout {
    width: 100vw;
    height: 100vh;
    padding: 4vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    overflow: hidden;
}

main {
    overflow: hidden;
}

.smiley_background_image {
    position: absolute;
    right: -100px;
    width: 600px;
    height: auto;
    top: var(--item-spacing);
    filter: blur(8px);
    animation: disform 12s infinite linear;
}

@keyframes disform {
    0%,
    100% {
        transform: skew(0.01turn, 4deg);
    }
    25% {
        transform: scale(98%);
    }
    50% {
        transform: skew(-0.01turn, -4deg);
    }
    75% {
        transform: scale(102%);
    }
}
