.layout {
    width: 100vw;
    height: 100vh;
    padding: 4vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
}

main {
    overflow: hidden;
}

.smiley_background_image {
    position: absolute;
    right: -100px;
    width: 600px;
    height: auto;
    top: var(--item-spacing);
    filter: blur(10px);
}
