.primary_nav_wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    column-gap: var(--item-spacing);
}

.custom_link {
    margin-left: -4px;
}

.custom_link_label {
    text-transform: uppercase;
    line-height: 120%;
}

.regular_link_wrapper {
    display: flex;
    column-gap: var(--item-spacing);
}
