nav {
    position: relative;
}

.primary_nav_wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    column-gap: var(--item-spacing);
    row-gap: calc(var(--item-spacing) / 4);
}

.sub_navigation_btn {
    background-color: transparent;
    border: none;
    color: var(--clr-primary-disable);
    font-size: var(--h3);
    font-weight: var(--font-weight-black);
    line-height: var(120%);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    cursor: pointer;
    transition: color ease-out 350ms;
}

.sub_navigation_btn:hover {
    color: var(--clr-secondary-disable);
}

.link__active {
    color: var(--clr-secondary-disable);
}

.regular_link_wrapper {
    display: flex;
    column-gap: var(--item-spacing);
    padding-top: 4px;
}
